<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021702189899-7m8bdp2lcl1ppu70g9f75uvk24g9mkc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021702189899-7m8bdp2lcl1ppu70g9f75uvk24g9mkc7</string>
	<key>API_KEY</key>
	<string>AIzaSyCmkj6F8i6qKs0SU94tSUfX-L5vMbSsswk</string>
	<key>GCM_SENDER_ID</key>
	<string>1021702189899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-22c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-22c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021702189899:ios:1bed1d881396dffa58aece</string>
</dict>
</plist>